@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 350px;
	border-style: solid;
}
code {
  cursor: pointer;
}

.form-control-color {
	width: 100%;
}